$grey: #636363;
$grayligten: #e3e3e3;
$white: #fefefe;
$red: #ed001f;

body{
    font-family:'Open Sans',Helvetica,Arial,sans-serif
}
.container {
    max-width: 1080px;
    width: 100%!important;
}
main{
	background-image: linear-gradient( 180deg, rgba(167, 167, 167, 0.55) 0px,  rgba(167, 167, 167, 0) 190px);
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12,
.col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6,
.col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12,
.col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8,
.col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3,
.col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1,
.col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5,
.col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	@media (max-width: 768px) {
	    padding-right: 10px;
	    padding-left: 10px;
	} 
}


.intro-wrap{
	position: relative;
	padding-left: 455px;
	padding: 20px 0;
	@media (max-width: 992px) {
		text-align: center;
	}
	@media (min-width: 992px) {
		padding: 85px 0 40px 455px;
	}
	.logo{
		@media (min-width: 992px) {
			position: absolute;
			top: 50px;
			left: 0;
		}
	}
	h1{
		font-size: 36px;
		line-height: 36px;
		text-transform: uppercase;
		font-weight: 600;
		letter-spacing: -1.3px;
		margin-bottom: 20px;
		@media (min-width: 992px) {
			font-size: 46px;
			line-height: 42px;
		}
	}
	p{
		font-size: 24px;
		line-height: 1;
		text-transform: uppercase;
		font-weight: 300; 
		letter-spacing: -1px;
	}
}


.benefits{ 
	@media (max-width: 992px) {
		max-width: 350px;
		margin: auto;
	}
	@media (max-width: 768px) {
		padding-bottom: 30px;
		border-bottom: 1px solid #000;
	} 
	@media (min-width: 992px) {
		width: 300px;
		float:left;
	}
	.title-block{
		font-size: 24px;
		text-transform: uppercase;
		font-weight: 300;
		color: #000;
		margin-bottom: 20px;
		margin-top: 0;
		@media (max-width: 768px) {
			text-align: center;
			font-weight: 600;
		}
		@media (min-width: 768px) {
			margin-bottom: 20px;
		}
	}
	.benefits-item{
		background: $grayligten;
		border-radius: 10px;
		padding: 0 7px;
		min-height: 46px;
		display: table;
		width: 100%;
		@media (min-width: 992px) {
			padding: 0 15px;
			min-height: 36px;
		}
		&:not(:last-child){
			margin-bottom: 10px;	
		}
		img{
			float: left;
			margin-right: 5px;
			@media (min-width: 992px) {
				margin-right: 20px;
				height: 36px;
			}
		}
		p{
			line-height: 15px;
			vertical-align: middle;
			display: table-cell;
			width: 100%;
			font-size: 14px;
			@media (max-width: 768px) {
				letter-spacing: -0.9px;
			}
			@media (min-width: 992px) {
				font-size: 11px;
			}
		}
	} 
	.button{
		@media (max-width: 768px) {
			margin-top: 20px;
		}
		img{
			max-width: 100%;
		}
	}
}
    

.counter-container{ 
	position: relative;
	text-align: center;
	@media (min-width: 992px) {	
		width: calc(100% - 285px);
		padding-right: 5px;
		margin-left: -15px;
		float:left;
	}
	@media (max-width: 992px) {
		margin: 230px auto 22px;
	}
	@media (max-width: 768px) {
		margin: 125px auto 22px;
	}
	.sand-clock{
		position: absolute;
		top: 0px;
		left:0;
		right: 0; 
		margin: auto;
		display: inline-block;
		max-width: 80%;
		z-index: 5;
		@media (min-width: 992px) {
			top: -242px;
		}
		@media (max-width: 992px) {
			top: -230px; 
			height: 350px;
		}
		@media (max-width: 768px) {
			top: -125px;
			height: 230px;
		}
	} 
	img{ 
		max-width: 100%; 
	}
	.counter-wrap{
		display: block;
		z-index: 10;
		position: relative;
		text-align: center;
		.button{
			max-width: 339px;
			position: relative;
			margin: auto;
			display: block;
			.pulse{
				position: absolute;
				top:0;
				left:0;
				animation: pulse 3s infinite;
			}
			@media (min-width: 768px) {
				position: absolute;
				bottom: 0px;
				left: 0;
				right: 0;
			}
		}
	}
	.counter{
		position: absolute;
		top:9%;
		left:0;
		right: 0;
		margin: auto;
		transform: perspective(50em) rotateX(20deg);
		@media (min-width: 600px) {
			top:13%;
		}
		.flip{
			display:inline-block;
			float: none;
			vertical-align: top;
			width: 75px;
		    height: 95px;
		    margin: 5px;
		    font-size: 80px;
		    line-height: 95px;
		    &:nth-child(3){
				margin-right: 30px;
				&:after{
					content: ":";
				    font-size: 80px;
				    color: #292929;
				    font-family: open-sans;
					position: absolute;
					top: 0;
					left: 80px;
				}
			}
		    li{
		    	line-height: 95px;
		    }
		    .inn{
		    	font-size: 80px;
		    }
			
		}
		@media (max-width: 750px) {
			.flip{
				width: 45px;
			    height: 70px;
			    margin: 3px;
			    font-size: 50px;
			    line-height: 60px;
			    padding: 17px;
			    &:nth-child(3){
					&:after{
					    font-size: 50px;
					    left:54px;
					}
				}
			    li{
			    	line-height: 60px;
			    }
			    .inn{
			    	font-size: 60px;
			    }
			}
		}
		@media (max-width: 500px) {
			.flip{
				width: 30px;
			    height: 45px;
			    margin: 2px;
			    font-size: 40px;
			    line-height: 45px;
			    padding: 15px;
			    &:nth-child(3){ 
			    	margin-right: 15px;
					&:after{
						left:31px;
					}
				}
			    li{
			    	line-height: 45px;
			    }
			    .inn{
			    	font-size: 40px;
			    }
			}
		}
	}
} 

@keyframes pulse{
	0%{
		opacity: 0
	}
	50%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}

footer{
	margin-top: 25px;
	background: #555555;
	padding: 14px 35px;
	text-align: center;
	@media (max-width: 768px) {
		border-radius: 15px;
		padding: 25px 35px;
		margin-top: 35px;
		margin-bottom: 20px;
	}
	p{
		color:#fff;	
		font-size: 15px;	
		line-height: 24px;
		margin: 0;
		font-style: italic;
		@media (min-width: 768px) {
			font-size: 11px;
			line-height: 1.2;
			font-style: normal;
		} 
	}
}


.modal-content{
	background: #e2e2e2;
	padding: 18px 37px;
	width: 100%;
	max-width: 570px;
	border: 3px solid #fff;
	border-radius: 10px;
	margin: auto;
	.modal-body{
		padding: 0;
	}
	.close{
		position: absolute;
		top:10px; 
		right: 10px;
	}
	h2{
		margin-top: 0;
		font-weight: 600;
		font-size: 24px;
		text-transform: uppercase;
		border-top:9px solid $red;
		text-align: center;
		@media (min-width: 450px) {
			font-size: 36px;
		}
		@media (min-width: 768px) {
			font-size: 46px;
		}
	}
	.message{
		background: #d8d9d9;
		border: 1px solid #959595;
		border-radius: 10px;
		padding: 15px;
		display: table;
		img,
		p{
			display: table-cell;
			vertical-align: middle;
		}
		img{
			margin-right: 15px; 
		}
		p{
			border-left: 2px solid $red;
			padding-left: 15px;
			font-size: 18px;
			font-weight: 600;
			text-transform: uppercase;
			line-height: 1.3;
		}
	}
	.info{
		text-align: center;
		max-width: 260px;
		margin: 10px auto 0;
		font-size: 18px;
		line-height: 1.3;
	}
}

.modal-backdrop.in {
    opacity: 0.68;
}